{erl_opts, [
  {parse_transform, lager_transform}
]}.

{deps, [

  {lager,    {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.7"}}},
  {brob,    {git, "https://github.com/klarna/brod.git", {tag, "3.7.2"}}}
%%  {kafka_loger,    {git, "git@gitlabhome.lenovopcsd.com:octopus_lib/kafka_loger.git"}}

]}.